path { stroke-linecap:round; stroke-linejoin:round;
}
.reloadButton {
 border: solid 1px #000; width: auto; color: #000; background-color: #fff;
 padding: 5px 7px; font-weight: bold; border-radius: 6px;
 position: absolute; top: 20px; left: 20px;
}
.reloadButton:hover {
 border: solid 1px #f00; color: #fff; background-color: #000066; cursor: pointer;
}
svg#legendsForSeoulMap { width: 110px; height: 30px; border: 0; margin: 0; padding: 0;
 position: absolute; top: 20px; left: 465px; border-radius: 10px;
 background: rgba(255, 255, 255, 0.6);
}
svg#legendsForSeoulMap text { 
 fill: #000000; stroke: #000000; font-family: "Nanum Gothic";
 font-size: 10px; text-anchor: left; font-weight: bold; stroke-width: 0;
}
svg { width: 580px; height: 580px; margin: 0px auto 5px;
 border: solid 2px #09f; border-radius: 10px;
}
#river #hanriver { fill: #00ffff; opacity: 0.3;
}
#seoulMap #politan path { fill: #ccffff; stroke: #000000; opacity: 0.5;
}
#seoulMap #line path { fill: none; stroke: yellow; stroke-width: 2px;
opacity: 0.5; 
}
/* 노선색상 출처 : 위키백과(한국 철도 노선색), 서울도시철도공사, 기타 검색 등등 */
#seoulMap #line #lineno00,
#seoulMap #line #lineno01,
#seoulMap #line #lineno02 { stroke: #00498B; } /* 1호선 군청색 */
#seoulMap #line #lineno03,
#seoulMap #line #lineno08 { stroke: #009246; } /* 2호선 초록색 */
#seoulMap #line #lineno04 { stroke: #F36630; } /* 3호선 주황색 */
#seoulMap #line #lineno05 { stroke: #00A2D1; } /* 4호선 파랑색 */
#seoulMap #line #lineno06,
#seoulMap #line #lineno07 { stroke: #A064A3; } /* 5호선 보라색(#A064A3) 드림라일락(#603295) */
#seoulMap #line #lineno09 { stroke: #9E4510; } /* 6호선 황토색(#9E4510) 해피브라운(#CC5D0C) */
#seoulMap #line #lineno10 { stroke: #5D6519; } /* 7호선 갈록색(#5D6519) 시티즌그린(#4D5613) */
#seoulMap #line #lineno11 { stroke: #D6406A; } /* 8호선 분홍색(#D6406A) 러브핑크(#F73663) */
#seoulMap #line #lineno12 { stroke: #8E764B; } /* 9호선 */
#seoulMap #line #lineno13,
#seoulMap #line #lineno17 { stroke: #72C7A6; } /* 경의, 중앙선(옥색) */
#seoulMap #line #lineno14 { stroke: #006D9D; } /* 공항철도 */
#seoulMap #line #lineno15 { stroke: #6E98BB; } /* 인천 1호선 하늘색 */
#seoulMap #line #lineno16 { stroke: #E0A134; } /* 수인선 */
#seoulMap #line #lineno18,
#seoulMap #line #lineno21 { stroke: #E0A134; } /* 분당선 진노랑색 */
#seoulMap #line #lineno19 { stroke: #509F22; } /* 용인에버라인 */
#seoulMap #line #lineno20 { stroke: #BB1833; } /* 신분당선 */
#seoulMap #line #lineno22 { stroke: #FF850D; } /* 의정부 경전철 */
#seoulMap #line #lineno23 { stroke: #2ABFD0; } /* 경춘선 */
#mapShow .municipality { fill: #ccffcc; stroke: #333; stroke-width: 1px; fill-opacity: 1; stroke-opacity: 0.5;
} /* fill: #99ffcc; fill: #ccffcc; */
/* #mapShow .municipality:hover { fill: #ffcc00; } */ /* fill: #ffcc00; */
#mapShow .municipality-label {
 fill: #000000; font-size: 12px; font-weight: 500; text-anchor: middle; pointer-events: none;
} /* #006600 */
#mapShow .placeCircle { fill: #ffff00; stroke: #0000ff; opacity: 0.8; stroke-width: 1px;
}
#mapShow .placeName {
display: none; fill: #000000;
font-family: "Nanum Gothic"; font-size: 10px; text-anchor: middle; font-weight: bold;
stroke-width: 0.2px; stroke: #ffff00;
}

#mapShow path { fill: #ccffcc; stroke: #0066cc; stroke-width: 0.5px;
}
/* #mapShow path:hover { fill: #ffcc00; } */
#mapShow text { font-family: "Nanum Gothic"; font-size: 10px; pointer-events: none;
}