#agency {
	height : 100%;
	width: 100%;
}

.member-agency {
	width : 100%;
	height : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
}

.member-agency .agency-insert{
	margin-bottom : 0px;
	padding-bottom : 5px;
}
.member-agency__wrapper {
	width : 40%;
	height : 40%;
	border-radius : 5px;
	border : 1px solid rgba(0,0,0,0.5);
}

#agency .agency-delete__btn {
	font-size : 16px;
}

.agency-insert {
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-white);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom : 20px;
  border-radius : 10px;
  display : flex;
  flex-direction : column;
  justify-content : center;
}

.agency-insert__title {
  border-bottom: 2px solid var(--color-darkgray);
}
.agency-insert__item {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}

.agency-insert__item .agency-insert__item-column:first-child {
  color : var(--color-orange);
  font-weight : 600;
  width: 15%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agency-insert__item .agency-insert__item-column:last-child{
  width: 85%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items : center;
  color : var(--color-orange);
}


.agency-insert .agency-insert__item-input {
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
}

.agency-insert .agency-insert__item-input:focus {
  border-color: var(--color-darkgray);
  transition: border-color 0.7s ease-in-out;
}

.agency-insert__item-textarea {
  border-color: rgba(0, 0, 0, 0.3);
  resize: none;
  padding : 10px;
}
.agency-insert__item-textarea:focus {
  border-color: var(--color-darkgray);
  transition: border-color 0.7s ease-in-out;
}
.agency-insert .agency-insert__item .agency-insert__input-email {
    width: 150px;
}

.agency-insert .agency-insert__item .agency-insert__item-postcode {
    width: 100px;
}
.agency-insert .agency-insert__item .agency-insert__item-addr {
    width: 700px;
}

.agency-insert__checkbox-title {
    font-size : 16px;
    margin-right: 5px;
    color : var(--color-gray);
}
.agency-insert__checkbox-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15px;
}
.agency-insert__checkbox-item .agency-insert__checkbox {
  margin-right: 5px;
  margin-left: 5px;
}


.agency-insert__btn-content {
    display: flex;
    justify-content: flex-end;
}
.agency-insert__btn {
    font-size : 18px;
    font-family: inherit;
    display: block;
    width : 90px;
    height: 35px;
    border-radius: 5px;
    margin-left : 5px;
    color : var(--color-orange);
    background-color : var(--color-white);
    line-height : 35px;
}

.agency-insert__item-addr-search {
	font-size : 14px;
    font-family: inherit;
    display: block;
    width : 80px;
    height: 30px;
    border-radius: 5px;
    color : var(--color-orange);
    background-color : var(--color-white);
    line-height : 30px;
}

.agency-insert__checkbox-item {
	display: flex;
	justify-content : center;
	align-items : center;	
}

.agency-insert__item-purpose {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-line;
    word-break: break-all; 
    max-height : 150px;
    overflow : auto;
}

.agency-insert__item .agency-insert__item-column:last-child{
    color : var(--color-gray);
    height: auto;
}