@import "../../common/common.css";


/* body */
.login-body{
    height: 950px;
}

.login-box{
    position:relative;
    margin: 10px auto;
    margin-top: 50px;
    width: 500px;
    height: 380px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:35px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    background-color: #222222;
    line-height: 35px;
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.33);
  }
  
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 70px;
    text-align:center;
  }
  
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }

  .u-form-group div {
    display: inline-block;
    width: 60px;
    text-align: right;
  }

  .u-form-group input {
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group button{
    width:15%;
    background-color: #222222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .forgot-password,.forgot-id{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }


/* FOOTER */
.footer{
    float:left;
    width:100%;
    line-height: 60px;
    bottom:0;
    height:120px;
    background-color:#222222;
}
.copyright{
    text-align:center;
    color:#FFF;
}


/* ADDITIONAL CLASSES */
.separator{
    height: 10px;
    background-color: red;
}
.flat{
    height: 400px;
    background-color: #62bcda;
}