@import "../../common/common.css";


.profile-main {
	padding: 0 70px;
	background-color: rgb(245,245,245);
}

.profile_title {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #EBECF1;
    line-height: 100px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile_title_underline {
    width: 57px;
    height: 70px;
    border-bottom: 2px solid tomato;
    margin-top: 15px;
    cursor: pointer;
}



.profile_row {
	display: flex;
	flex-wrap: wrap;
}

.profile_info {
    width: 20%;
    display: inline-block;
    height: 400px;
    margin-right: 15px;
    background-color: white;
}
.profile_info_img {
    display: block;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.profile_info_img2 {
    display: inline-block;
}
.profile_info_img3 {
    border-radius: 50%;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}
.profile_info_img4 {
    height: 130px;
    width: 130px;
}
.profile_info_img5 {
    border-radius: 50%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}
.profile_info_img6 {
    height: 30px;
    width: 30px;
    background-color: tomato;
}

.profile_body {
	height: 400px;
    width: 78.5%;
    display: inline-block;
}

.profile_menu {
	height: 40px;
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
    background-color: white;
}

.profile_content {
	height: 85.7%;
    width: 100%;
    display: inline-block;
    background-color: white;
}

.profile_info_nickName, .profile_info_email {
	margin-top: 5px;
	text-align: center;
}

.profile_info_nickName {
	font-weight: 700;
	font-size: 17px;
}

.profile_info_email {
	font-weight: 600;
	font-size: 15px;
	color: gray;
}

.profile_hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #eee;
}

.profile_countbox {
	width: 100%;
}

.profile_posts, .profile_comment {
	text-align: center;
	width: 48.7%;
	display: inline-block;
	background-color: tomato;
}






















