@import "../common/common.css";


html, body{
    background-color: #F6F6F6;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/* HEADER */
.header{
    position: relative;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;
    background-color: #222222;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #FFF;
}

.container a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}

.menu a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.user {
    text-align: right;
}

/* body */
.login-body{
    height: 950px;
}

.login-box{
    position:relative;
    margin: 10px auto;
    margin-top: 50px;
    width: 580px;
    height: 480px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    background-color: #222222;
    line-height: 35px;
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.33);
  }
  

  
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 70px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  
  .u-form-group div {
    display: inline-block;
    width: 120px;
    text-align: right;
  }
  .u-form-group div button {
    background: #fff;
  }
  .u-form-group input[type="text"] {
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  
  .u-form-group .checkBox {
    text-align: left;
    width: 370px;
    vertical-align: middle;
    margin: 5px;
  }
  .u-form-group .checkBox > input {
    margin: 5px;
  }
  
  .u-form-group input:focus{
    border-color: #358efb;
  }
  .u-form-group .register,.back{
    width:20%;
    background-color: #222222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .forgot-password,.forgot-id{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }
  .check {
    background: #888;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #fff;
    font-weight: bold;
  }



/* FOOTER */
.footer{
    float:left;
    width:100%;
    line-height: 60px;
    bottom:0;
    height:120px;
    background-color:#222222;
}
.copyright{
    text-align:center;
    color:#FFF;
}


