@charset "UTF-8";

.buskers_map {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 1000px;
	margin-top: 60px;
	z-index: 1;
}

.buskers_map:after {
	content : "";
	position: absolute;
	width: 100%;
	height: 1000px;
	background-image: url(../../img/brick2.jpg);
	background-size: 100%;
	opacity: 0.4;
	z-index: -1;
	top: 0;
    left: 0;
}

.buskers_map_title {
	height: 150px;
}

.buskers_map_title>div:first-child {
	display: flex;
	justify-content: center;
	font-family: 'Italianno', cursive;
	color: #c1a35f;
	font-size: 50px;
}

.buskers_map_title>div:last-child {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-family: "Open Sans", sans-serif;
	color: black;
	font-weight: bold;
	margin-top: -20px;
	width: 330px;
	border-bottom: 2px solid orange;
}

.buskers_map_detail {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 100%;
	height: 700px;
}

#mu-map {
	height: 75vh;
}

em {
	box-shadow: 0 2px 2px #888;	
}

.buskers_map_left {
	width: 50%;
}

.buskers_map_right {
	width: 50%;
}

svg {
}

#map {
	
}

#map .active {
	animation: blink 1.5s linear infinite;
	-webkit-animation: blink 1.5s linear infinite;
}

@-webkit-keyframes blink { 
	0% {fill: tomato;}
	50%{fill: #F7F4AC;}
	100%{fill: tomato;}
}

@-webkit-keyframes blinks { 
	0% {stroke: white;}
	50%{stroke: black;}
	100%{stroke: white;}
}

svg circle {
	fill: lightblue; /* 원  */
	opacity: .6;
	stroke: #5F6B61; /* 원테두리 */
	cursor: pointer;
}

svg circle:hover { /* 원 호 */
	fill: white;
	stroke: #333;
}

svg text {
	pointer-events: none;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
}

svg .municipality {
	fill: #E9E7AC;
	stroke: white; /* 지역 구분선 */
	cursor: pointer;
}

svg .municipality:active {
	animation: blink 1.5s linear infinite;
	-webkit-animation: blink 1.5s linear infinite;
}

svg .municipality:hover {
	fill: salmon;
}

svg .municipality-label {
	fill: black; /* 지역이름 */
	font-size: 12px;
	text-anchor: middle;
}

svg #map text {
	color: #333;
	font-size: 12px; /* 지역 폰트 크기 */
	text-anchor: middle;
	font-weight: bold;
	font-family: 'Nanum Gothic', sans-serif;
}

svg #places text {
	color: red;
	font: 10px sans-serif;
	text-anchor: start;
}

#title {
	font-family: sans-serif;
}

#title p {
	font-size: 10pt;
}
/*  전국지도css!  */
.background {
	pointer-events: all;
}

#states path {
	fill: #D5E9D6; /* 지도 색 */
	stroke: #fff; /*  지도 테두리 */
	stroke-width: 2px;
}

#states path:hover {
	fill: salmon;
}

#states .active {
	fill: orange; /*  호버했을때 색지도색 */
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 12px;
}

.mapwrapper {
    display: flex;
    justify-content: space-between;
}
/* 우측 공연정보 */
#chart {
	margin-left: -20px;
}

.performance__info_wrapper {
    width: 530px;
    height: 100%;
    margin-left: 60px;
    margin-right: 80px;
}

.performance__info_date {
	font-family: 'Lobster', cursive;
	color: black;
	height: 100px;
	width: 200px;
	font-weight: bold;
	font-size: 27px;
	text-align: center;
	padding-top: 27px;
	padding-bottom: 30px;
}

.performance__info_calendar {
	display: flex;
	justify-content: center;
	margin-right: 80px;
    margin-top: -75px;
}

.performance__info {
	display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 505px;
    height: 100px;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.date_up_button {
	display: flex;
	justify-content: flex-end;
	height: 5px;
	padding-right: 41px;
	font-size: 25px;
}

.date_down_button {
	display: flex;
	justify-content: flex-end;
	height: 5px;
	padding-right: 41px;
	font-size: 25px;
    margin-top: -30px;
}

.day-up {
	visibility: hidden;
	cursor: pointer;
}

.fa-caret-up:hover {
	color: tomato;
	transition: 0.3s;
}

.day-down {
	visibility: hidden;
	cursor: pointer;
}

.fa-caret-down:hover {
	color: tomato;
	transition: 0.3s;
}

.date_calendar_button {
	position: absolute;
	z-index: 999;
	margin-top: 20px;
}

.fa-caret-left {
	visibility: hidden;
	margin-left: -30px;
	font-size: 20px;
}

.fa-caret-right {
	visibility: hidden;
	margin-right: 180px;
	font-size: 20px;
}

.performance_info_date_wrapper {
	height: 100px;
}

.marker {
	cursor: pointer;
}

.performance_info_list section {
	width: 485px;
	height: 120px;
    background: rgba(255, 255, 255, 0.6);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: 0.3s;
	cursor: pointer;
}

section:hover .layer {
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.layer{
    position: relative;
    width: 485px;
    height: 120px;
    margin-top: -120px;
    border-radius: 10px;
    transition: 0.3s;
}

.img-btn {
	width: 110px;
	height: 175px;
	margin: 10px 10px;
}

.img-btn img {
	width: 80px;
	height: 80px;
}

.details-btn {
	width: 270px;
	height: 155px;
	margin-top: -192px;
	margin-left: 130px;
	color: #828282;
}

h1 {
	font-weight: bold;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
	padding-bottom: 7px;
}

h3 {
	font-size: 12px;
	margin-top: -10px;
}

p {
	font-size: 12px;
}

.SM-btn {
	width: 180px;
	height: 100%;
	margin-top: -168px;
	margin-left: 305px;
}

.SM-btn .third {
	width: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5dadec;
	cursor: pointer;
	transition: all 0.25s ease;
	float: right;
}

.genre {
	width: 30px;
	height: 30px;
}

.third img {
	margin: 0 auto;
	width: 17px;
}

.SM-btn i {
	color: white;
	text-align: center;
	width: 100%;
	line-height: 210px;
	font-size: 25px;
}

.globe {
	cursor: pointer;
}

.performance_info_list {
	width: 505px;
    padding: 10px;
    height: 490px;
    overflow: auto;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

.performance_info_list::-webkit-scrollbar {
  background-color: #fff;
  width:12px
}

.performance_info_list::-webkit-scrollbar-track {
  background-color: white;
  
}

.performance_info_list::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 2px solid #fff;
}

.performance_info_list::-webkit-scrollbar-button {display:none}

.artist_name {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 18px;
}

.date_picker {
	position: absolute;
	width: 80px;
	height: 80px;
	opacity: 0;
    margin-left: -135px;
	z-index: 999;
	cursor: pointer;
}

.flatpickr-months svg {
	background: #3F4458;
}

.flatpickr-calendar.animate.open {
	margin-top: 5px;
}

.flatpickr-current-month {
    padding: 1.16px 0 0 0 !important;
}

.thumbnail {
	border-radius: 50% !important;
}

rect {
	width: 0px;
	height: 0px;
}

.neon {
	text-align: center;
	width: 65%;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.neon b {
  font-size: 37px;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.neon b span {
  animation: neon linear infinite 2s;
}

@keyframes neon {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}