@import "../common/common.css";

.body-background {
  background-color: var(--color-background);
/*   padding-top: 50px; */
}

.header {
/*   position : relative; */
/*   top: -50px; */
  font-family: 'Nanum Gothic', sans-serif;
}

.header .board_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-white);
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.header .header-columns:first-child {
  display: flex;
  align-items: center;
  position: relative;
}

.header .header-columns:first-child input {
  height: 28px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 200px;
  padding-left: 40px;
  opacity: 0.8;
}
.header .header-columns:first-child input:focus {
  border-color: var(--color-darkgray);
  transition: border-color 0.8s ease-in-out;
}

.header .header-columns:first-child i {
  color: var(--color-darkgray);
  position: absolute;
  left: 10px;
  font-weight: 600;
}

.header .header-columns:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-columns:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-gray);
}

.header .header-columns:last-child i {
  margin-left: 8px;
}
.header .header-columns:last-child i:nth-child(3) {
  color: #ffbc00;
}

.header-columns:last-child .header__user i {
  color: var(--color-blue);
}

.header .header-columns:nth-child(2) .header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.fa-lg {
	line-height: 1.5em;
}

/* 사이드바 */
.side-bar {
  position: fixed;
  /* z-index: 1; */
  /* left : 140px; */
  background-color: var(--color-white);
  width: 200px;
  height: 100vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-gray);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Nanum Gothic', sans-serif;
}

.side-bar__wrapper {
	position : relative;
	width: 200px;
 	height: 100vh;
	left : 140px;
}

.side-bar__wrapper-fixed{
	position : absolute;
	z-index: 1;
}

.side-bar .side-bar__icon {
  border-left: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  cursor:pointer;
  color : var(--color-gray);
}

.side-bar .side-bar__icon i {
  width: 10%;
}

.side-bar .side-bar__icon:hover {
  border-left: 2px solid var(--color-darkgray);
  color: var(--color-darkgray);
  transition: all 0.8s ease-in-out;
}

.side-bar__icon-content {
  width: 90%;
  text-align: center;
}
.side-bar__tag {
  width: 100%;
}

.main-form {
  display: flex;
  justify-content: flex-start;
  width: 1500px;
  margin: 0 auto;
  padding : 0 auto;
}

.main-agency {
/*   height: 100vh; */
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.main-body {
  /* width : 1200px; */
  position: relative;
  z-index: 1;
  /* left : -190px; */
  background-color : var(--color-background);
  background-color : white;
}


/* paging */
/* menu tab */
