@import "../../../common/common.css";
@import "header.css";
@import "insert.css";
@import "table.css";
@import 'check.css';
@import 'detail.css';

:root {
  --color-background: #f5f7fc;
  --color-gray: #808e94;
  --color-darkgray: #282e30;
  --color-orange: #f37420;
  --color-white: #ffffff;
  --color-black: #293234;
  --color-green: #33c634;
  --color-pink: #f4326c;
  --color-blue: #3a5dfb;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-background {
  background-color: var(--color-background);
  padding-top: 50px;
}

.header {
  font-family: "Jua", sans-serif;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-white);
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.header .header-columns:first-child {
  display: flex;
  align-items: center;
  position: relative;
}

.header .header-columns:first-child input {
  height: 28px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 200px;
  padding-left: 40px;
  opacity: 0.8;
}
.header .header-columns:first-child input:focus {
  border-color: var(--color-darkgray);
  transition: border-color 0.8s ease-in-out;
}

.header .header-columns:first-child i {
  color: var(--color-darkgray);
  position: absolute;
  left: 10px;
  font-weight: 600;
}

.header .header-columns:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-columns:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-gray);
}

.header .header-columns:last-child i {
  margin-left: 8px;
}
.header .header-columns:last-child i:nth-child(3) {
  color: #ffbc00;
}

.header-columns:last-child .header__user i {
  color: var(--color-blue);
}

.header .header-columns:nth-child(2) .header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

/* 사이드바 */
.side-bar {
  position: relative;
  z-index: 1;
  left : 140px;
  background-color: var(--color-white);
  width: 200px;
  height: 100vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: var(--color-gray);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "JUA", sans-serif;
}

.side-bar .side-bar__icon {
  border-left: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

.side-bar .side-bar__icon i {
  width: 10%;
}

.side-bar .side-bar__icon:hover {
  border-left: 2px solid var(--color-darkgray);
  color: var(--color-darkgray);
  transition: all 0.8s ease-in-out;
}

.side-bar__icon-content {
  width: 90%;
  text-align: center;
}
.side-bar__tag {
  width: 100%;
}

.main-form {
  display: flex;
  justify-content: flex-start;
  width: 1500px;
  margin: 0 auto;
  padding : 0 auto;
}

.main-agency {
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.main-body {
  position: relative;
  z-index: 1;
  /* left : -190px; */
  background-color : var(--color-background);
}


/* paging */
/* menu tab */
