.agency-insert__item-purpose {
    display: block;
    width: 100%;
    overflow-wrap: break-word; 
}

.agency-insert__item .agency-insert__item-column:last-child{
    color : var(--color-gray);
    height: auto;
}