.agency-insert__item-purpose {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-line;
    word-break: break-all; 
    max-height : 150px;
    overflow : auto;
}

.agency-insert__item .agency-insert__item-column:last-child{
    color : var(--color-gray);
    height: auto;
}

