.agency .agency-table {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  background-color: var(--color-white);
  color: var(--color-gray);
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
}

.agency-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.agency-bottom__button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: var(--color-white);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-darkgray);
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
}

.agency .agency-table tr {
  height: 40px;
}

.agency .agency-table tr:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.agency .agency-table td,
.agency .agency-table th {
  text-align: center;
  vertical-align: middle;
  padding: 12px 10px;
}
.agency .agency-table td a {
	display : block;
	width : 100%;
}

.agency .agency-table th {
  color: var(--color-darkgray);
}

.agency .agency-table td {
  font-size: 0.8em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.001);
}

/* .agency .agency-table tr:last-child td{
    border-bottom: 2px solid rgba(0,0,0,0.01);
} */

.agency .agency-table i {
  color: rgb(240, 205, 49);
}

.agency .agency-table td:hover {
  border-bottom: 2px solid var(--color-pink);
  transition: border-bottom 0.9s ease-in-out;
}

.agency-paging__items {
  margin-top: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agency-paging__item {
  cursor: pointer;
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 5px;
}

.agency-paging__item:hover {
    color:var(--color-darkgray);
}

.paging-selected{
    color:var(--color-darkgray);
}