
.board_img_title {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 24px;
    background-clip: padding-box;
    text-align: center;
    background-color: #f0f0f0;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
}

.board_img_title > img {
	width: 50px;
    height: 50px;
}

.board_head_line {
    padding: 10px;
    font-weight: bold;
    font-size: 23px;
    line-height: 100%;
    margin-top: 20px;
}

.board_article {
    margin-top: 20px;
}

.board_article_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    
}

.board_article_info > div > span {
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
    font-weight: 100;
}

.board_article_info_left > i {
    margin-left: 20px;
}

.board_article_info_right > span {
    margin-right: 20px;
}

.board_article_body {
    height: 500px;
}

.board_article_info_user {
    cursor: pointer;
}

.container_body {
	height: 1000px;
}

.board_article_content > div {
	min-height: 400px;
	height: auto;
	padding: 30px 10px;
}
.board_article_content div p img{
	width:100%;
}

.free_board_detail_bottom > a {
    min-width: 56px;
    padding: 9px 12px;
    border: 1px solid #d3d3d3;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    background: #333333;
    color: white;
}

.free_board_detail_bottom > a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: tomato;
}

.free_board_detail_bottom {
    display: flex;
    justify-content: flex-end;
}

.board_article_comment {
	min-height: 100px;
}

.board_article_comment_amount {
	border-bottom: 1px solid #ddd;
}

.board_article_comment_amount_underline {
	font-family: 'Nanum Gothic', sans-serif;
	display:flex;
	height: 100%;
	width: 115px;
	border-bottom: 1px solid #222222;
}

.board_article_comment_amount_underline > span {
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
}

.comment_highlight {
	color: tomato;
	margin-left: 5px;
}

.board_article_comment_list {
	margin-top: 10px;
}

.comment_list {
	margin-top: 25px;
}

.reply_list {
	margin-left: 60px;
}

.comment_info {
	display: flex;
}

.comment_write_info {
	display: flex;
	margin-top: 10px;
}

.comment_info > div {
	display: flex;
	align-items: center;
}

.comment_write_info > div {
	display: flex;
	align-items: center;
}

.comment_clock {
	margin-right: 5px;
}

.comment_id {
	font-weight: bold;
}

.fa-clock {
	padding-top: 1px;
	color: #818181;
}

.comment_date {
	font-weight: 100;
	margin-left: 20px;
}

.comment_list > .bubble {
	max-width: 600px;
	width: auto;
	position: relative;
	padding: 20px;
	color: white;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-radius: 26px;
	background: black;
	text-align: center;
	margin-left: 60px;
	display:flex;
	align-items: center;
}

.reply_list > .bubble {
	max-width: 600px;
	width: auto;
	position: relative;
	padding: 20px;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-radius: 26px;
	background: #f4f4f4;
	color: black;
	text-align: center;
	margin-left: 60px;
	display:flex;
	align-items: center;
}

.bubble .bubble-content {
	line-height: 1.2;
	font-family:'Malgun Gothic';
	text-align: left;
	-webkit-font-smoothing: antialiased;
	box-sizing: none;
}

.comment_list > .bubble:after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 20px solid transparent;
	border-right: 20px solid black;
	top: 5px;
	left: -8px;
}

.reply_list > .bubble:after {
	content: "";
	display: block;
	position: absolute;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f4f4f4;
	top: 5px;
	left: -8px;
}

.comment_content_wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.comment_content {
	margin-top: 10px;
	background: #F5F5F5;
    width: 100%;
    height: 58px;
    padding: 10px;
    border: 1px solid #eee;
    font-size: 12px;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: #666;
    cursor: text;
    border-radius: 10px;
}

.reply_content_wrapper {
	display: flex;
	width: 70%;
	justify-content: center;
	margin-left: 60px;
}

.reply_content {
	margin-top: 10px;
	background: #F5F5F5;
    width: 100%;
    height: 58px;
    padding: 10px;
    border: 1px solid #eee;
    font-size: 12px;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: #666;
    cursor: text;
    border-radius: 10px;
}

.fa-feather {
	margin-right: 10px;
	line-height: 33px;
	vertical-align: middle;
}

.fa-comment-dots {
	line-height: 33px;
	vertical-align: middle;
}

.comment_submit_button {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.reply_submit_button {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	margin-left: 60px;
}

.freeboard__detail .fa-edit {
	height: 30px;
    min-width: 58px;
    padding: 0px 12px;
    border: 1px solid #d3d3d3;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
	margin-top: 10px;
    background: #333333;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.freeboard__detail .fa-edit:hover {
	color: tomato;
}

.freeboard__detail .fa-pen-alt {
	margin-left: 15px;
	cursor: pointer;
}

.fa-reply {
	margin-left: 15px;
	cursor: pointer;
}

.fa-trash-alt {
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
}

.modal-backdrop {
	z-index: 0 !important;
}

#board_article_info_id {
	font-family: 'Malgun Gothic';
	font-weight: bold;
}

.board_article_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	height: 35px;
}

.board_article_like_wrapper {
	display: flex;
	width: 100px;
	padding: 5px;
	height: 100%;
	justify-content: center;
	align-items: center;
	border: 2px solid #C7C7C7;
	border-radius: 25px;
	transition: 0.3s;
}

.board_article_like_wrapper:hover {
	border: 2px solid #FC2E5A !important;
}

.board_article_like > div > a {
	margin-left : 10px;
	font-size: 15px;
}

.fa-heart {
	color: #FC2E5A;
}

#go_login_form {
	display: flex;
	align-items: center;
}

.reply_name {
	color: #003569;
	font-weight: bold;
}

.comment_info i {
	font-size: 12px;
	color: grey;
}

.comment_info i:hover {
	color: black;
}

.update_submit_button {
	margin-left: 60px;
}

.comment_like_button > i {
	color: grey;
	cursor: pointer;
}

.comment_like_button > i > a {
	margin-left: 5px;
}

.comment_like_button > i {
	color: grey;
	cursor: pointer;
}

.comment_like_button > i:hover {
	color: #FC2E5A;
}

.fa-heart {
	margin-left: 10px;
}

.comment_dislike_button > .fa-exclamation > a {
	margin-left: 5px;
}

.comment_dislike_button > .fa-exclamation {
	margin-left: 10px;
	cursor: pointer;
}

.comment_dislike_button {
	font-size: 12px;
}

.comment_dislike_button > i:hover {
	color: #EE7C01;
}

.free_board_detail_bottom > a {
	margin-left: 25px;
}

.board_file_list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.board_image {
	margin-right: 10px;
}

.board_image:hover {
	margin-right: 10px;
	text-decoration: underline;
}

.board_image > a {
	margin-left: 5px;
}

.comment_like > i > a {
	margin-left: 5px;
	color: black;
}

.comment_like > i > a {
	margin-left: 5px;
	color: black;
}

.comment_like > i {
	color: #FC2E5A;
}

.best_comment {
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0 5px #5A5F73, inset 0 0 5px #5A5F73,
    			0 0 2px #5A5F73, inset 0 0 2px #5A5F73,
      			0 0 4px #5A5F73, inset 0 0 4px #5A5F73;
}

.comment_best .fa-medal {
	font-size: 20px;
	margin-left: 5px;
	color: gold;
}

.fa-sun {
	color: orangered;
}

.bubble p {
	text-align: left;
	line-height: 25px;
}