@import "../../../common/common.css";
@import 'detail.css';
@import 'writeform.css';
@import 'updateform.css';

body {
    background: #F4F7FC;
}

.main-freeboard {
	background-color : white;
}

.fa-image {
	color: #03CF5D;
	margin-left: 5px;
}

.fa-image > a {
	color: black;
	margin-left: 5px;
}


.board_container_head {
    position: fixed;
    top: 0;
    width: 1200px;
    height: 50px;
    background: #333333;
    color: white;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    line-height: 50px;
    z-index: 100;
    cursor: pointer;
}

.free_container {
    background: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.board_container_body {
    width: 950px;
    padding: 20px;
}

.board_title {
    font-family: 'Nanum Gothic', sans-serif;
    
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #EBECF1;
    line-height: 100px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 100px;
}

.board_title_underline {
    width: 95px;
    height: 70px;
    border-bottom: 2px solid tomato;
    margin-top: 15px;
    cursor: pointer;
}

.free_board {
    border-collapse: collapse;
    width: 100%;
}

.main-freeboard {
	background: white;	
}

.main-freeboard .board_title_left {
	text-align: left;
	cursor: pointer;
	padding-left: 15px;
}

.board_title_left > a {
	
}

.main-freeboard .board_title_left:hover {
	color: #DC143C;
}

.free_board_search {
    width: 100%;
    height: 100px;
}

.main-freeboard th {
    border-top: 2px solid black;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    font-weight: bold;
    background: #FFFFFF;
}

.main-freeboard th > a:hover {
    color: tomato;
    cursor: pointer;
}

.main-freeboard td {
    border-top: 1px solid #f2f2f2;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
}

.main-freeboard tr:hover {
	background: #F8F8F8;
}

#board_notify_title > a {
	font-weight: bold;
	color: tomato;
	font-size: 14px;
}

#board_notify_title > a:hover {
	text-decoration: underline;
}

.free_board_no {
    width: 8%;
}

.free_board_title {
    width: 60%;
}

.free_board_writer {
    width: 10%;
}

.free_board_date {
    width: 10%;
}

.free_board_view {
    width: 6%;
}

.side_menu {
    position: fixed;
    width: 60px;
    list-style-type: none;
    background: white;
    overflow: hidden;
    transition: width .5s;
}
  
.side_menu:hover {
    width: 180px;
 }
  
.side_menu li {
    width: 300px;
}
  
.side_menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
}
  
.side_menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #818E94;
    height: 60px;
}
  
.side_menu li a:hover {
    background: #333333;
    color: white;
    display: block;
}

.side_menu li:first-child {
    height: 100px;
}

.free_board_bottom {
	height: 32px;
    display: flex;
    justify-content: flex-end;
}

.free_board_bottom > a {
	height: 30px;
    min-width: 58px;
    padding: 0px 12px;
    border: 1px solid #d3d3d3;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-right: 20px;
    background: #333333;
    color: white;
}

.fa-pen:hover {
    text-decoration: underline;
    cursor: pointer;
    color: tomato;
}

.fa-sort-amount-up:hover {
    color: tomato;
}

.footer {
    height: 150px;
}

.board_notify {
    display: block;
    border: 1px solid tomato;
    background-color: rgb(255, 232, 223);
    color: tomato;
    width: 56px;
    height: 21px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    margin-left: 8px;
}

.pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 11px;
	font-size: 12px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	cursor: pointer;
}

.pagination a.active {
	background-color: #444444;
	color: white;
	border: 1px solid #444444;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.fa-comment {
	color: black;
	padding-left: 10px;
}

.fa-comment > a {
	color: tomato;
	padding-left: 2px;
	font-family: verdana;
	font-size: 12px;
}

.free_board_search {
    width: 740px;
    height: 32px;
}

.search_form {
	display: flex;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	line-height: 40px;
}

.search_form_option {
	width: 12%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	transition: .2s ease-out;
	border: 1px solid #dfe1e5;
	border-radius: 4px;
	outline: none;
	background-color: #fff;
	margin-right: 10px;
}

.search_form_input {
	width: 65%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	transition: .2s ease-out;
	border-radius: 4px;
	outline: none;
	background-color: #fff;
	border: 1px solid #dfe1e5;
	margin-right: 10px;
}

.search_form_input:hover {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search_form_button {
	width: 10%;
	height: 100%;
	border: 1px solid #d3d3d3;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-right: 20px;
    background: #333333;
    color: white;
}

.search_form_button:hover {
	color: tomato;		
}

.search_keyword {
	color: #FF3061;
	font-weight: bold;
}




