.busker-support {
  height: 94vh;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--color-background);
}

.busker-support__main-column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
}

.busker-support__main-column:last-child {
  padding: 0px 30px;
  overflow: hidden;
}

.busker-support .support-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

.support-header .support-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-header .support-title__write {
  padding: 20px 0px;
  font-weight: 600;
  font-size: 24px;
}

.support-header .support-subtitle {
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.busker-support__main {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.support-section {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.support-section__item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.support-section__item .support-section__column {
  padding: 0px 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.support-section__item .support-section__column:first-child {
}

.support-section__item .support-section__column:last-child {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.support-section__item .support-section__column:last-child > div {
  margin-bottom: 10px;
}

.support-section__profile {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.support-section__item .support-section__column {
  color: rgba(0, 0, 0, 0.6);
}

.support-section__item .support-user {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.support-section__item .support-user__support {
  display: inline-block;
}

.busker-support__main .support-user__money {
  color: var(--color-pink);
}

/* support-info */
.support-info__section {
  display: flex;
  flex-direction: column;
}

.support-info__progressbar {
  width: 100%;
  position: relative;
}

.support-info__progressbar-wrapper {
  height: auto;
}

.support-info__progressbar > div {
  border-radius: 5px;
}

.support-info__progressbar .support-info__progressbar-all {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: var(--color-white);
  height: 8px;
}

.support-info__progressbar .support-info__progressbar-percent {
  position: absolute;
  top: 0px;
  width: 79%;
  height: 5px;
  background-color: var(--color-pink);
}

.support-info__header {
  width: 100%;
}

.support-info__header .support-info__target {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-bottom: 5px;
}

.support-info__header .support-info__percent-value {
  font-size: 36px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 5px;
  color: var(--color-pink);
}
.support-info__header .support-info__percent {
  padding: 0px 10px;
  font-weight: 600;
}

.support-info__header .support-info__percent-icon {
  font-weight: 800;
}

.support-info__section .support-info__date {
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.support-info__section .support-info__btn {
  all: unset;
  color: var(--color-white);
  background-color: var(--color-darkgray);
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.support-info__section .support-info__price {
  margin-top: 10px;
  color: var(--color-darkgray);
  font-size: 20px;
}

.support-info__price .support-info__current-price {
  font-size: 32px;
  font-weight: 600;
}

.support-info__section .support-info__purpose {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.support-info__purpose .support-info__purpose-name {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.support-info__purpose .support-info__purpose-title {
  margin-top: 10px;
  color: var(--color-darkgray);
  font-size: 28px;
  line-height: 1.2;
}

.support-img {
  width: 100%;
  height: 40%;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2019/02/04/09/56/boy-3974291_1280.jpg");
  margin-bottom: 10px;
}

.support-title__btn {
  all: unset;
  padding: 5px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: 16px;
  background-color: #ff8c6f;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.support-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.support-modal .modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.support-modal .modal__content {
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  padding: 50px 100px;
  text-align: center;
  width: 30%;
}

.hidden {
  display: none;
}
