@charset "UTF-8";
.busker-body{
	padding-right:0px;
}
.video_body{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 20px
}
.video_body .video{
	height:320px;
}
.video_title{
	margin-top:10px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:18px;
}
.modal-open{
	padding-right: 0px;
}










.pagination {
    margin:30px 0px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 11px;
	font-size: px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	cursor: pointer;
}

.pagination a.active {
	background-color: #444444;
	color: white;
	border: 1px solid #444444;
}

.pagination a:hover:not(.active) {background-color: #ddd;}