.header_background {
	background-image: url(../../../img/book2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

.header_background img {
	display: none;
}

.info {
  font-family: "Nanum Gothic", sans-serif;
  height: calc(100vh - 100px);
  background-color: var(--color-info-background);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 5fr;
  grid-template-areas: "busker busker" "song video";
  padding: 0px 80px;
}
.info .info-busker {
  /* padding-top: 80px; */
  grid-area: busker;
}
.info .info-song {
  grid-area: song;
}
.info .info-video {
  grid-area: video;
}
