.info-video {
  width: 100%;
}

.swiper-container {
  width: 720px;
  height: 360px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-next{
    background-image: none;
}

.swiper-button-next,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
    fill: var(--color-orange);
}

.info-video__empty {
	width : 100%;
	height : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
}
