.info__header {
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: var(--color-info-header);
}

/* .info-busker__profiles::-webkit-scrollbar {
  display: none;
} */

.info-busker__profiles {
  display: grid;
  grid-template-columns: 200px;
  grid-auto-columns: 200px;
  grid-template-rows: 220px;
  grid-auto-flow: column;
  overflow: auto;
  color: var(--color-info-header);
  grid-gap: 35px;
  box-sizing: border-box;
}

.info-busker__profile-wrapper {
  display: flex;
  flex-direction: column;
}

.info-busker__profile .info-busker__profile-img {
  padding-top : 5px;
  display: block;
  width: 150px;
  height: 160px;
  border-radius: 15px;
  /* box-shadow: 0 2px 2px rgba(233, 233, 233, 0.863),
    0 2px 2px rgba(226, 226, 226, 0.705); */
  transition: all 0.5s ease-in-out;
  cursor : pointer;
}

.info-busker__profile .info-busker__profile-img:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.info-busker__profile {
  color: var(--color-info-header);
  display: flex;
  justify-content: center;
}

.info-busker__profile .info-busker__profile-content {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}

.info-busker__profile .info-busker__profile-title {
  display: block;
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.info-busker__profile .info-busker__profile-title:hover {
  transform: translateY(-3px);
}
.info-busker__profile .info-busker__profile-content-column:last-child {
  color: var(--color-info-gray);
  font-size: 16px;
}
