@import "../common/common.css";
@import 'side.css';
@import 'header.css';

.busker {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 250px minmax(300px, 1fr);
  grid-auto-columns: 8fr;
}

.busker .busker-info {
  background-color: gray;
}

.busker .busker-section {
  /* background-color : skyblue; */
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-rows: 6vh 1fr;
}

.busker-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 9fr minmax(300px, 1fr);
}

.busker-content {
  background-color: #fff;
}

.busker-chat {
  background-color: rebeccapurple;
}
