:root {
  --color-left: #ff8c6f;
  --color-right: #fe6679;
}

.busker-show-enroll {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
  background-color : #fff8f6;
  /* background: linear-gradient(135deg,rgb(255, 202, 189),rgb(255, 229, 181)); */
}

#map {
  background-color : white;
  width: 500px;
  height: 500px;
  background-image: url("https://i.pinimg.com/564x/6a/e4/e1/6ae4e194ffef725f03e730562b546fef.jpg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.daumMap__bAddr {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 2px;
  box-sizing: border-box;
  font-size: 14px;
}

.daumMap__marker-content {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.busker-show-enroll__header {
  padding : 30px;
  font-size: 16px;
  padding-bottom: 0px;
}

.busker-show-enroll__header-link {
  border-bottom: 3px solid var(--color-left);
}

.busker-show-enroll__header-top-menu {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.busker-show-enroll__header-top-menu a:last-child {
  color: var(--color-darkgray);
  font-weight: 600;
}

.busker-show-enroll__header-top-menu i {
  color: var(--color-left);
}

.busker-show-enroll__header .busker-show-enroll__header-title {
  margin: 30px;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.8;
}

.busker-show-enroll__main {
  box-sizing: border-box;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.weather-search .weather-search__title {
  margin-right : 20px;
}

.busker-show-enroll__main .busker-show-enroll__main-columns:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding : 10px;
}
.busker-show-enroll__main .busker-show-enroll__main-columns:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 40px;
  border-radius: 10px;
}

.busker-show-enroll__main .enroll-form-column__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.busker-show-enroll__main .enroll-form-column__content .content-icon {
  position: absolute;
  left: 5px;
}

.busker-show-enroll__main .enroll-form-column__content i{
  width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--color-left), var(--color-right));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.busker-show-enroll__main input {
  all: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.busker-show-enroll__main input:focus {
  border-color: var(--color-right);
  background-color : white;
}

.enroll-form-column__content input {
  padding-left: 40px;
}

.busker-show-enroll__form .enroll-form-column__content {
  position: relative;
  font-size: 16px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.busker-show-enroll__form .enroll-form-column__title,
.weather-search .weather-search__title{
  margin-left : 2px;
}

.busker-show-enroll__form .enroll-form-column__title span {
  display: inline-block;
  font-size: 18px;
  margin-top: 13px;
  color : white;
  opacity: 0.9;
  background-color : var(--color-left);
  padding : 5px;
  border-radius: 10px;
}

.enroll-form-column__content .enroll-form-column__place {
  width: 400px;
}
.enroll-form-column__content-weather-icon {
  width: 40px;
  height: 40px;
}

.enroll-form-column__content .enroll-form-column__textarea {
  resize: none;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  border-radius: 10px;
  border : 1px solid rgba(0, 0, 0, 0.2);
}

.enroll-form-column__content .enroll-form-column__textarea:focus {
  border-color: var(--color-right);
}

.enroll-form-column__content span {
  margin : 0 5px;
}

.busker-show-enroll__btn {
  all : unset;
  box-sizing: border-box;
  margin-top : 10px;
  width: 80px;
  height: 40px;
  background-color : var(--color-left);
  border-radius: 10px;
  border : 1px solid  var(--color-left);
  color : white;
  font-size : 18px;
  line-height: 30px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  align-self: center;
}
.busker-show-enroll__btn:hover {
  transform: scale(1.05);
  background-color : var(--color-right);
  box-shadow: 0 7px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.busker-show-enroll__form-column:last-child {
  display: flex;
  justify-content: center;
}

.weather-search {
  margin-top : 10px;
  display: flex;
  align-items: center;
}

.weather-search__title {
  display: inline-block;
  font-size: 18px;
  color : white;
  opacity: 0.9;
  background-color : var(--color-left);
  padding : 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 20px;
}