.busker .busker-side {
}

.busker-side .busker-side__profile {
  height: 30vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.busker-side__header {
  height: 10vh;
  background-color: skyblue;
}

.busker-side .busker-info__btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

.busker-info__btn i {
    cursor: pointer;
}

.busker-side__header i:last-child {
}

.busker-side__menu {
  height: 40vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.busker-side__buskers {
    height: 30vh;
}