header{
    width:1200px;
    background-color:beige;
    margin: 0 auto;
    height:200px;
}
.container_board{
    margin: 0 auto;
    width:1000px;
}
.board_head{
    width:100%;
    font-size:40px;
    font-weight: bold;
    padding-bottom:30px;
    padding-top:30px;
}
footer{
    width:1200px;
    background-color:beige;
    margin: 0 auto;
    height:200px;
}
.content_bottom{
    margin-bottom:30px;
}
