@import "../../../common/common.css";
@import "common.css";

.board_info{
  display:grid;
  grid-template-columns: 70px 7fr 2fr 1fr;
  height:70px;
  font-size:20px;
  margin-top:30px;
}
.board_info_date{
  line-height:70px;
  font-size:15px;
  text-align:right;
}
.nickname{
  padding-left:20px;
  font-weight: bold;
  line-height:70px;
  font-size:20px;
}
.content{
  margin-top:30px;
  margin-bottom:30px;
  font-size:20px;
}
.content_bottom{
  margin-top:30px;
  height:70px;
  display:grid;
  grid-template-columns:50px 7fr 2fr 1fr;
}
.content_bottom img{
  height:40px;
  width:40px;
}
.likeText{
  line-height:50px;
  font-weight:bold;
}
.comment_top{
  font-weight:bold;
  font-size:30px;
}
.comment_write{
  display:grid;
  grid-template-columns: 70px 1fr 7fr 1.5fr;
  height:150px;
  margin-top:30px;
  margin-bottom:30px;
}
.comment_write_input{
  box-sizing:border-box;
  width:95%;
  height:100%;
  resize:none;
  font-size:20px;
}
.comment_content{
  box-sizing:border-box;
  height:70px;
  margin-top:10px;
  display:grid;
  grid-template-columns:70px 1.5fr 8fr 1fr  160px 40px 40px 40px 40px;
}
.answer_comment_content{
  box-sizing:border-box;
  height:70px;
  margin-top:10px;
  display:grid;
  grid-template-columns:70px 70px 2fr 8fr 1fr  160px 40px 40px 40px 40px;
}

.profileImg{
  height:65px;
  width:65px;
  border-radius:50px;
}


.buttonDiv{
  line-height:70px;
  font-size:15px;
}

.comment_date{
  line-height:70px;
  text-align:center;
}

.comment{
  padding:10px;
}

.commentNik{
  line-height:70px;
}
.comment_like{
  line-height:70px;
  text-align:center;
  font-size:15px;
}
.comment_like_img{
  text-align:center;
  line-height:70px;
  font-size:30px;
}
.material-icons{
  cursor: pointer;
}

.answer_icon i{ 
  font-size:50px;
}
.button_write{
  font-weight:bold;   
  border-style:none;
  width:150px;
  background-color: #eee;
  height:70px;
}
.like{
  cursor: pointer;
}

.buttonBasic{  
    font-weight:bold;   
    border-style:none;
    height:100%;
    width:150px;
    background-color: #eee;
  }
.answer{
    height:40px;
    width:50px;
    background-color: #eee;
    border-style:none;
}
content_bottom div a{
	height:100%;
	width:100%;
}