@import "reset.css";
@import "main-common.css";
/* font */

@import url('https://fonts.googleapis.com/css?family=Italianno|Nanum+Gothic|Jua');

/* 
사용예시
h1 {
    font-family: 'Jua', sans-serif;
}

*/

/* color */

.board_container {
  width: 1200px;
  margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
