.agency {
    width: 100%;
    align-self: flex-end;
    padding : 50px 70px;
    color : var(--color-orange);
    font-family: "JUA",sans-serif;
    box-sizing: border-box;
}

.agency .agency-header{
    color : var(--color-darkgray);
    font-size: 24px;
    height: 50px;
    /* opacity: 0.8; */
    position: relative;
    padding : 5px;
}
    
.agency-header i {
    color : var(--color-orange);
    opacity: 0.7;
}
.agency-header .agency-title {
    font-size : 30px;
    position: relative;
    top : 3px;
}

.agency .agency-table {
    width : 100%;
    margin : 0 auto;
    font-size: 20px;
    background-color : var(--color-white);
    color : var(--color-gray);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}

.agency-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.agency-bottom__button {
    width: 100px;
    height: 40px;
    font-size : 20px;
    background-color : var(--color-white);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color : var(--color-darkgray);
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}


.agency .agency-table tr {
    height: 40px;
}

.agency .agency-table tr:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.agency .agency-table td,
.agency .agency-table th {
    text-align: center;
    vertical-align: middle;
    padding : 12px 10px;
}

.agency .agency-table th{
    color : var(--color-darkgray);
}


.agency .agency-table td {
    font-size: 0.8em;
    border-bottom : 2px solid rgba(0, 0, 0, 0.001);
}

/* .agency .agency-table tr:last-child td{
    border-bottom: 2px solid rgba(0,0,0,0.01);
} */

.agency .agency-table i {
    color : rgb(240, 205, 49);
}

.agency .agency-table td:hover{
    border-bottom : 2px solid var(--color-pink);
    transition: border-bottom .9s ease-in-out;
}