@import "../../../common/common.css";

:root {
  --color-background: #f5f7fc;
  --color-gray: #808e94;
  --color-darkgray: #282e30;
  --color-orange: #f37420;
  --color-white: #ffffff;
}

.body-background {
  background-color: var(--color-background);
  padding-top : 50px;
}

.header {
  font-family: "Jua",sans-serif;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--color-white);
  height: 50px;
}

.header .header-columns:first-child {
  display: flex;
  align-items: center;
}

.header .header-columns:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-columns:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-columns:nth-child(2) .header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* 사이드바 헤더 안에 넣고 position: relative 로 확인해보기  */
.side-bar {
    background-color: var(--color-white);
    width: 50px;
    height: 300px;
    border-top-left-radius: 10px;
}

.main-form {
    display : flex;
    justify-content: center;
}