.busker-header{
    background-color : var(--color-orange);
    display: grid;
    grid-template-columns : 1fr 5fr 1fr;
    padding : 5px 10px;
    box-sizing : border-box;
    color : var(--color-white);
}

.busker-header > div {
	display : flex;
	align-items : center;
}
.busker-header .busker-header__title {
    font-size : 28px;
	justify-content : center;
}

.busker-header .busker-header__member {
	justify-content : flex-end;
}

.busker-header__search svg{
    position: absolute;
    left : 10px;
    opacity: 0.5;
    fill: rgba(0, 0, 0, 0.8);
}
.busker-header__member i {
    cursor: pointer;
    font-size : 24px;
    margin-left : 10px;
    opacity: 0.8;
}
.busker-header i:last-child {
    margin-right: 10px;
}

.busker-header__search-input {
    all :unset;
    padding : 5px;
    padding-left : 40px;
    border-radius: 5px;
    border : 1.2px solid rgba(0, 0, 0, 0.4);
    height: 2.5vh;
    width : 100%;
    transition : all .3s ease-in-out;
    background-color : #d16e2c;
}

.busker-header__search-input:focus {
    border-color : var(--color-gray);
    background-color : var(--color-white);
    color : var(--color-orange);
}

.busker-header__member .busker-header__id {
    font-size : 18px;
    padding-right : 10px;
}

#toast-container > div {
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 15px 50px;
} 

@-webkit-keyframes alarm { 
	0% {color: white;}
	50% {color: #00BAF7;} 
	100% {color: white;}
}

/* Header 도움말 css */
.pagetour-btn {
	all : unset;
	font-size : 18px;
	cursor : pointer;
	background-color : var(--color-white);
	color : var(--color-orange);
	padding : 5px;
	border-radius : 5px;
}

.alarm_count {
    position: absolute;
    background: #ffc107;
    color: black;
    margin-top: -12px;
    margin-left: -10px;
}

.message_count {
    position: absolute;
    background: #28a745;
    color: white;
    margin-top: -12px;
    margin-left: -5px;
}

/* 피드 알림 */

.busker_alarm_wrapper {
	position: absolute;
	font-size: 15px;
	width: 467px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
    margin-top: 297px;
    display: none;
    line-height: 18px;
    z-index: 9999;
}

.busker_alarm_title {
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
	font-size: 13px;
}

.busker_alarm_list {
	width: 450px;
	border-radius: 5px;
	min-height: 100px;
}

.busker_alarm_card {
	display: flex;
	justify-content: center;
	height: 100px;
}

.busker_alarm_image_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 25%;
}

.busker_alarm_image {
	width: 70px;
	height: 70px;
}

.busker_alarm_image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.busker_alarm_body {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	width: 75%;
	padding: 5px;
	color: white;
}

.busker_alarm_body div {
	display: flex;
	align-items: center;
	padding: 2px;
}

.busker_alarm_body_header {
	font-size: 13px;
}

.busker_alarm_body_header > a {
	font-weight: bold;
	font-size: 13px;
	color: white;
}

.busker_alarm_body_title {
	font-size: 13px;
}

.busker_alarm_body_date {
	font-size: 13px;
	display: flex;
	justify-content: flex-end;
}

.busker_alarm_list_wrapper {
	overflow: auto;
	max-height: 500px;
}

.header-a > .fa-bell {
	animation: bell 2s infinite linear;
}

@keyframes alarms { 
	0% {background: inherit;}
	50% {background: rgba(100, 39, 28, 0.9);}
	100% {background: inherit;}
}

@keyframes bell {
  0%, 50%{
    transform: rotate(0deg);
	}
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(13deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-13deg);
  }
}

.is_not_read {
	animation: alarms 2s ease-in-out infinite;
}

.busker_alarm_card a {
	display: flex;
	width: 100%;
	height: 100%;
}

.header-a i {
	font-size: 21px;
}