.busker-header{
    background-color : var(--color-orange);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px 10px;
    color : var(--color-white);
}

.busker-header .busker-header__search{
    width: 20%;
    display:flex;
    align-items: center;
    position: relative;
}

.busker-header .busker-header__title {
    font-size : 24px;
}

.busker-header__search svg{
    position: absolute;
    left : 10px;
    opacity: 0.5;
    fill: rgba(0, 0, 0, 0.8);
}
.busker-header__member i {
    cursor: pointer;
    font-size : 24px;
    margin-left : 10px;
    opacity: 0.8;
}
.busker-header i:last-child {
    margin-right: 10px;
}

.busker-header__search-input {
    all :unset;
    padding : 5px;
    padding-left : 40px;
    border-radius: 5px;
    border : 1.2px solid rgba(0, 0, 0, 0.4);
    height: 2.5vh;
    width : 100%;
    transition : all .3s ease-in-out;
    background-color : #d16e2c;
}

.busker-header__search-input:focus {
    border-color : var(--color-gray);
    background-color : var(--color-white);
    color : var(--color-orange);
}

.busker-header__member .busker-header__id {
    font-size : 18px;
    padding-right : 10px;
}

.message_count {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    margin-top: -13px;
    margin-left: -9px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: #f00;
    z-index: 999;
    display: none;
}

#toast-container > div {
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 15px 50px;
} 


