.busker .busker-info {
    background-color : #1D1D1D;
}

.busker-info img {
    height: 40vh;
    width: 100%;
}

.busker-info__main {
    color : white;
    padding : 20px;
    overflow: auto;
    box-sizing: border-box;
}
.busker-info__nickname {
    font-size : 24px;
    padding : 10px;
}

.busker-info__content {
    color : rgb(163, 163, 163);
    padding : 10px 0px;
    line-height: 20px;
}
.input_form{
	width:100%;
    background-color : #1D1D1D;
    border-style:none;
}
.input_form_go{
    background-color : white;
    border-style:black;
	
}
#input_form_intro{
	resize:none;
	height:150px;
}