
.busker .busker-side {
  font-family: "Nanum Gothic", sans-serif;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}

.busker-side .busker-side__profile {
  height: 28vh;
}

.busker-side__header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}
.busker-side__menu-count {
	background-color : var(--color-orange);
    color : var(--color-white);
    padding : 3px;
    border-radius : 5px;
    font-size : 0.8em;
    opacity : 0.9;
}

.busker-side__header-title i {
  color: var(--color-orange);
}

.busker-side__profile .busker-side__header-title {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Italianno', cursive;
}

.busker-side .busker-info__btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

.busker-side__info-btn i {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 5px;
}

.busker-side__menu {
  height: 28vh;
  display : flex;
  flex-direction : column;
  justify-content : center;
}

.busker-side__buskers {
  height: 30vh;
}

.busker-side__profile-info {
  margin: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.busker__profile-header-edit {
    padding-left : 10px; 
  font-size: 12px;
  opacity: 0.4;
  text-decoration: underline;
}

.busker__profile-header-follow {
  width: 35px;
  height: 15px;
  all: unset;
  color: white;
  border-radius: 5px;
  background-color: orange;
  padding: 5px;
}
.busker-side__profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}
.busker-side__profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.busker-side__profile-photo img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom : 10px;
}

.busker-side__profile-name {
    font-size : 14px;
    font-weight: 600;
    margin-bottom : 3px;
}
.busker-side__profile-id {
    font-size : 12px;
    opacity: 0.4;
    margin-bottom: 10px;
}
.busker-side__profile-social {
    padding-bottom : 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.busker-side__profile-social .facebook {
    color : #38569A;
}
.busker-side__profile-social .youtube {
    color : red;
}

.busker-side__profile-social .instargram {
    width: 30px;
    height: 30px;
    margin : 0px;
}

.busker-side__profile-social img,
.busker-side__profile-social i {
    cursor: pointer;
}

.busker-side__menu {
    /* padding : 10px 20px; */
}

.busker-side__menu-item {
    display: flex;
    margin-bottom: 10px;
    opacity: 0.8;
    height: 20px;
    box-sizing: border-box;
    border-left : 5px solid white;
    transition : all 0.5s ease-in-out;
    cursor: pointer;
}

.busker-side__menu-icon {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.busker-side__menu-title {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding : 0px 5px;
    padding-right : 20px;
}

.busker-side__menu .settings {
    margin-top : 35px;
}

.busker-side__menu-item:hover {
    border-left : 5px solid orange;
    transform: translateY(-3px);
}

.buskers__recommend {
	height : 24vh;
	overflow : auto;
}

.buskers__recommend-item {
    display: flex;
    padding : 10px;
    padding-left : 20px;
    opacity: 0.8;
}

.buskers__recommend-item i {
    margin-right : 10px;
}

.busker-side__buskers .buskers-header__title{
    font-size : 20px;
    margin : 0px 20px;
    padding-top : 20px;
    padding-bottom : 5px;
    text-align: center;
    font-weight: 500;
    border-top : 1px solid rgba(0, 0, 0, 0.3);
}
.busker-side__logout {
    padding-left : 20px;
    opacity: 0.5;
}

.busker-side__logout span {
    padding : 5px;
    cursor : pointer;
}
.busker-side__logout span:hover {
    text-decoration: underline;
}

.busker__profile-header-edit-button{
    text-decoration: underline;
    font-size:15px;
    border-style:none;
    background-color:transparent;
}
.modal_title{
	font-size:20px;
	font-weight:bold;
}
.control-label{
	margin-bottom:10px;
	text-align:left;
	font-weight:bold;
}

.busker-side__settings {
	color : rgba(0,0,0,0.5);
	padding-left : 20px;
	display : flex;
	margin : 10px 0px;
}
