@import 'bootstrap.css';
@import 'slick.css';
@import 'style.css';
@import 'font-awesome.css';
@import 'alarm.css';

.message_count {
    position: absolute;
    background: #28a745;
    color: white;
    margin-top: -15px;
    margin-left: -5px;
}

.alarm_count {
    position: absolute;
    background: #ffc107;
	color: black;
    margin-top: -15px;
    margin-left: -10px;
}

#toast-container > div {
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 15px 50px;
} 

@keyframes alarm { 
	0% {color: white;}
	50% {color: tomato;}
	100% {color: white;}
}

.main_logo a:hover {
	color: white;
}
