@import 'bootstrap.css';
@import 'slick.css';
@import 'style.css';
@import 'font-awesome.css';

.message_count {
	position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.8em;
    margin-top: -10px;
    margin-left: -10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: #f00;
    z-index: 999;
}