@import "../../../common/common.css";
@import '../agency/agency.css';
@import 'header.css';
@import 'search.css';
@import 'view.css';

.notice-board {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.notice-board__main {
	width : 1200px;
	margin : 0 auto;
	display: block;
	height: auto;
	background-color: var(--color-white);
	padding: 0 70px;
	box-sizing: border-box;
	padding-bottom : 30px;
}

.header_background {
	display: none;
}
